<div class='row'>
    <div class='col-xs-3'>
		<div class='photo'>
			<img src="assets/images/wyc2.jpg" alt="photo"/>
		</div>
	</div>
	<div class='col-xs-9'>
			<h3>
				Yunchao Wei 魏云超
			</h3>
      <p>
      Lecturer (Assistant Professor)/ARC DECRA Fellow
      </p>
      <p>
      <a href="http://reler.net/">ReLER</a> | <a href="https://www.uts.edu.au/research-and-teaching/our-research/centre-artificial-intelligence">Centre for Artificial Intelligence</a> | <a href="https://www.uts.edu.au/">University of Technology Sydney</a>
      </p>
      <p>
      Office: Room 123, Level 10, Building 11, 81 Broadway, Ultimo NSW 2007 (PO Box 123)
      </p>
      <p>
      Email: Yunchao.Wei AT uts.edu.au | wychao1987 AT gmail.com
      </p>

			<h3 style="padding-top:-5px"></h3>
      <!--
  		{% if site.email %}
				 <a href="mailto: {{site.email}}"><i class="fa fa-envelope"></i> &nbsp; {{site.email}}</a>
			{% endif %}
			&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      -->
			{% if site.website %}
				 <a href="https://scholar.google.com.sg/citations?user=qL9Csv0AAAAJ&hl=en" target="_blank"><i class="fa fa-globe"></i> &nbsp; {{site.website}}</a>
			{% endif %}
	</div>
</div>
