
<div class='researchInt'>
<h3>Research Interests</h3>
			<p>My general research interest is to develop deep learning algorithms for challenging computer vision and multimedia problems. <br>
                        Recently, I focus on:</p>
                        <ul>
							<li>Weakly supervised object detection and semantic segmentation</li>
							<li>Video analysis, including detection and tracking</li>
							<li>Multi-label classification</li>
							<li>Multi-modal analysis</li>
                        </ul>
</div>